/* styles.css */
body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 1fr;
}

#header {
  background-color: #494949;
  grid-column: 1 / -1;
  padding: 10px;
}

#header-text {
  color: white;
  font-size: 32px;
}

#sidebar {
  padding: 10px;
  background-color: rgb(217, 237, 254);
  grid-row: 2;
}

#sidebar div {
  margin: 10px;
}

#sidebar-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#main {
  grid-row: 2;
}

select {
  padding: 6px;
  font-size: 14px;
}

#memo-container {
  margin: 10px;
  background-color: white;
  width: 720px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 1rem;
  padding: 10px;
}

.memo-card {
  border: 1px solid #ccc;
  padding: 12px;
  margin-bottom: 12px;
}

.memo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.memo-header h3 {
  margin: 0;
}

.memo-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

#list-container {
  border: solid 1px purple;
}

.list-btns {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
